
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #15214e, #2d6ebd); /* Gradient from dark blue to lighter blue */
    color: #001c62;
    font-family: 'Press Start 2P', Arial, sans-serif;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cloud {
    position: absolute; /* Position cloud at the top */
    top: 50px; /* Adjust vertical position */
    left: -200px; /* Initial off-screen position */
    z-index: -1; /* Make sure cloud is behind content */
}

.logo {
    width: 800px;  /* Increase size */
    height: auto;  /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;

}

h1 {
    font-size: 96px;
    font-weight: bold;
    color: #aa5800; 
    background: linear-gradient(to bottom, #ffcc33, #402000); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 
        1px 1px 0px #ff8000, 
        2px 2px 0px #a45200, 
        3px 3px 0px #8d4b00, 
        4px 4px 0px #9a6700, 
        5px 5px 0px #000000, 
        6px 6px 0px #000000, 
        7px 7px 5px rgba(0, 0, 0, 0.8), 
        8px 8px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 0.0;
}
.input-group {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid  #00bfff;
    background-color: black;
    color:  #00bfff;
    outline: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #00bfff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    background-color:  #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 0px #00bfff;
    text-transform: uppercase;
}

button:hover {
    background-color: black;
    color:  #00bfff;
    border: 2px solid  #00bfff;
    box-shadow: 0px 0px 40px  #00bfff;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color:  #00bfff;
}


.hidden {
    display: none;
}

#fullRoomMessage {
    color: #000000;
    font-size:  50px;;
}