* {
  margin: 0;
}

#container {
  display: flex;
  height: 100dvh;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  display: grid;
  height: 1020px; /* Adjusted for 17x17 grid */
  width: 1020px;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  position: relative;
}

.box {
  background-color: white; /* Fallback background color */
  width: 60px; /* Larger boxes */
  height: 60px;
  background-size: cover; /* Ensure the image covers the entire tile */
  background-position: center; /* Center the image within the tile */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

#player {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 2;
}

#player-image {
  position: absolute;
  top: -40px; 
  left: -8px;
  pointer-events: none;
  width: 48px;
  z-index: 2;
}